html{
  background-image: url(https://res.abeim.cn/api-lanzou_jx?url=http://gulanguage.lanzous.com/ixzU6jbatdc&dow=true);
  background-color: #aaa;
  background-size: cover;
  -webkit-background-size: cover 100%;
  -o-background-size: cover 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  /*margin: 0; 
  padding: 0;*/
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: orange;
}
a:visited{
  color: orange;
}
discoloration{
  text-decoration: none;
  color: white;
}
discoloration:hover{
  color: blue;
}
discoloration:visited{
  color: blue;
}
.copyright{
  color: white;
  font-size: 4vw;
  text-align: center;
  bottom:0;
  position:fixed;
  height: 30px;
  width: 100vw;
}
.cen{
  color: white;
  font-size: 10vw;
  font-family:"微软雅黑";
  font-weight: 90px;
  background: #aaaadc;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 150px;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.0px );
  -webkit-backdrop-filter: blur( 4.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.cen1{
  color: white;
  font-size: 10vw;
  font-family:"微软雅黑";
  font-weight: 900;
  background: #aaaadc;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 3vh;
}
.center{
  margin-left: 5vw;
  color: white;
  font-size: 2vh;
}
.time{
  color: white;
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
}
